<% unless smart_listing.empty? %>
 <table class="table table-striped">
 	<tbody>
 		<% smart_listing.collection.each do |page| %>
 		<% page.menu_items.each do |item|%>
 		  
 		<tr>
 		  <td class="col-xs-1"><%= item.dish_name %></td>
 		  
 		</tr>
 		<% end %>
 		<% end %>
 	</tbody>
 </table>

 <%= smart_listing.paginate %>
  <%= smart_listing.pagination_per_page_links %>
 <% else %>
  No record found
 <% end %>
